.about-container {
    /* max-width: 800px; */
    margin: 5rem;
    margin-bottom: 130px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .about-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .about-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  .about-container img{
    border-radius: 10px;
  }
  .about-description {
    padding-left: 20px;
    text-align: center;
  }